In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
629,tt0452608,45000000,73762516,Death Race,Jason Statham|Joan Allen|Ian McShane|Tyrese Gi...,Paul W.S. Anderson,Get ready for a killer race.,"Terminal Island, New York: 2020. Overcrowding ...",105,Action|Thriller|Science Fiction,Universal Pictures|Cruise/Wagner Productions|I...,8/22/2008,5.9,2008
748,tt1650062,50000000,260095987,Super 8,Joel Courtney|Elle Fanning|Riley Griffiths|Kyl...,J.J. Abrams,It Arrives.,"In 1979 Ohio, several youngsters are making a ...",112,Thriller|Science Fiction|Mystery,Paramount Pictures|Amblin Entertainment|Bad Ro...,6/8/2011,6.6,2011
84,tt3567288,5000000,98450062,The Visit,Olivia DeJonge|Ed Oxenbould|Kathryn Hahn|Benja...,M. Night Shyamalan,No one loves you like your grandparents.,The terrifying story of a brother and sister w...,94,Horror|Thriller,Blumhouse Productions|Blinding Edge Pictures,9/10/2015,5.9,2015
1672,tt0440963,70000000,442824138,The Bourne Ultimatum,Matt Damon|Julia Stiles|David Strathairn|Scott...,Paul Greengrass,Remember everything. Forgive nothing.,Bourne is brought out of hiding once again by ...,115,Action|Drama|Mystery|Thriller,Universal Pictures|The Kennedy/Marshall Compan...,8/3/2007,7.2,2007
779,tt1217613,70000000,202466756,Battle: Los Angeles,Aaron Eckhart|RamÃ³n RodrÃ­guez|Will Rothhaar|...,Jonathan Liebesman,It's not war. It's survival.,The Earth is attacked by unknown forces. As pe...,116,Action|Science Fiction,Columbia Pictures|Original Film|Relativity Media,3/8/2011,5.5,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# Cоздадим необходимые в дальнейшем колонки: 
# прибыль, длина названия, длина отзыва, месяц выпуска, комбинации актеров
data['profit'] = data.revenue - data.budget
data['title_len']=data.original_title.apply(lambda s: len(s))
data['len_overview']=data.overview.apply(lambda s: len(str(s).split(' ')))
data['month']=data.release_date.apply(lambda s: str(s).split('/')[0])
data['cast_comb'] = data.cast.str.split('|').apply(lambda x: tuple(itertools.combinations(sorted(x),2)))

# Создадим неуникальные списки с разделенными(отдельными) 
# именами режиссеров, жанрами, актерами и студиями
directors = []
data.director.apply(lambda x: directors.extend(x.split('|')))
genres = []
data.genres.apply(lambda x: genres.extend(x.split('|')))
cast = []
data.cast.apply(lambda x: cast.extend(x.split('|')))
production_companies = []
data.production_companies.apply(lambda x: production_companies.extend(x.split('|')))

# Инициализируем лямбда функции
get_title = lambda df: df.original_title.tolist()[0] # Получить название фильма
get_max = lambda dic: max(dic, key = dic.get) # Получить максимум из словаря

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'  # +

get_title(data[data.budget == data.budget.max()]) # Извлекаем по условию

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
answers['2'] = '2. Gods and Generals'  # +

get_title(data[data.runtime == data.runtime.max()])

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [7]:
answers['3'] = '3. Winnie the Pooh' # +

get_title(data[data.runtime==data.runtime.min()])

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [8]:
answers['4'] = '2. 110' # +

round(data.runtime.mean()) # использован round тк все предложенные ответы целые

110

# 5. Каково медианное значение длительности фильмов?

In [9]:
answers['5'] = '3. 107' # +

data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [10]:
answers['6'] = '5. Avatar' # +

get_title(data[data.profit == data.profit.max()])

'Avatar'

# 7. Какой фильм самый убыточный?

In [11]:
answers['7'] = '5. The Lone Ranger' # +

get_title(data[data.profit == data.profit.min()])

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [12]:
answers['8'] = '1. 1478' # +

''' 
    В данной задаче длина датасета отображает количество фильмов,
    поэтому здесь и далее она используется с этой целью.
''' 
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [13]:
answers['9'] = '4. The Dark Knight' # +

data9 = data[data.release_year == 2008]
get_title(data9[data9.revenue == data9.revenue.max()])

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [14]:
answers['10'] = '5. The Lone Ranger' # +

data10=data.query('2012 <= release_year <= 2014')
get_title(data10[data10.profit == data10.profit.min()])

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [15]:
answers['11'] = '3. Drama' # +

''' 
    При препроцессинге сохранены неуникальные значения, 
    поэтому к ним достаточно просто применить Counter. 
    Для получения уникальных значений далее используется set
'''
get_max(Counter(genres))

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [16]:
answers['12'] = '1. Drama' # +

''' 
    Здесь и далее для подобных задач создается словарь,
    в который попадают необходимые значения для подсчета
    из каждого отдельного датафрейма. Например здесь: 
    для каждого жанра создается фрейм, который его содержит,
    после чего в нем считается количество прибыльных фильмов.
    Количество и жанр заносятся в словарь, оттуда же извлекается
    максимальное значение.
'''
revenue_genres = {}
for g in set(genres):
    data12 = data[data.genres.str.contains(g)]
    revenue_genres[g] = len(data12[data12.profit > 0])
get_max(revenue_genres)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [17]:
answers['13'] = '5. Peter Jackson' # +

directors_revenue = {}
for d in set(directors):
    data13 = data[data.director.str.contains(d)]
    revenue_sum = data13.revenue.sum()
    directors_revenue[d] = revenue_sum
get_max(directors_revenue)

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [18]:
answers['14'] = '3. Robert Rodriguez' # +

directors_action = {}
for d in set(directors):
    data14 = data[(data.director.str.contains(d))&(data.genres.str.contains('Action'))]
    films_num = len(data14)
    directors_action[d] = films_num
get_max(directors_action)

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [19]:
answers['15'] = '3. Chris Hemsworth' # +

cast_2012={}
for c in set(cast):
    data15 = data[(data.release_year==2012)&(data.cast.str.contains(c))]
    rev_sum = data15.revenue.sum()
    cast_2012[c] = rev_sum
get_max(cast_2012)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [20]:
answers['16'] = '3. Matt Damon' # +

data16 = data[data.budget > data.budget.mean()]
cast_budg={}
for c in set(cast):
    fr = data16[(data16.cast.str.contains(c))]
    cast_budg[c] = len(fr)
get_max(cast_budg)

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [21]:
answers['17'] = '2. Action' # +

data17 = data[data.cast.str.contains('Nicolas Cage')]
cage_genres = []
data17.genres.apply(lambda x: cage_genres.extend(x.split('|'))) # Массив неуникальных жанров
get_max(Counter(cage_genres))

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [22]:
answers['18'] = '1. K-19: The Widowmaker' # +

data18 = data[data.production_companies.str.contains('Paramount Pictures')]
get_title(data18[data18.profit == data18.profit.min()])

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [23]:
answers['19'] = '5. 2015' # +

data19 = data.groupby('release_year')['revenue'].sum().reset_index() # Кассовые сборы, распределенные по годам
data19[data19.revenue == data19.revenue.max()].release_year.tolist()[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [24]:
answers['20'] = '1. 2014' # +
data20 = data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['revenue'].sum().reset_index()
data20[data20.revenue == data20.revenue.max()].release_year.tolist()[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [25]:
answers['21'] = '4. Сентябрь' # +

month_dic = {}
for m in data.month.unique():
    month_fr = data[data.month == m]
    film_num = len(month_fr)
    month_dic[m] = film_num
get_max(month_dic)

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [26]:
answers['22'] = '2. 450' # +

len(data[data.month.isin(['6', '7', '8'])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [27]:
answers['23'] = '5. Peter Jackson' # +

winter = data[data.month.isin(['12', '1', '2'])]
winter_directors = {}
for d in directors:
    winter_fr = winter[winter.director.str.contains(d)]
    films_num = len(winter_fr)
    winter_directors[d] = films_num
get_max(winter_directors)

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [28]:
answers['24'] = '5. Four By Two Productions' # +

studio_titles = {}
for stud in set(production_companies):
    data24 = data[data.production_companies.str.contains(stud)]
    mean_w = data24.title_len.mean()
    studio_titles[stud] = mean_w
get_max(studio_titles)

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [29]:
answers['25'] = '3. Midnight Picture Show' # +

studio_owerviews = {}
for stud in set(production_companies):
    data25 = data[data.production_companies.str.contains(stud)]
    mean_w = data25.len_overview.mean()
    studio_owerviews[stud] = mean_w
get_max(studio_owerviews)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [30]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # +

data26 = data[data.vote_average.quantile(0.99) < data.vote_average] # Создаем фрейм с рейтингом больше чем 99 квантиль
data26.original_title.tolist()

['Inside Out',
 'Room',
 'Interstellar',
 'Guardians of the Galaxy',
 'The Imitation Game',
 'Gone Girl',
 'The Grand Budapest Hotel',
 'Inception',
 'The Dark Knight',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'The Wolf of Wall Street',
 '12 Years a Slave',
 'Memento']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [34]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' # +

Counter(data.cast_comb.values.sum()).most_common(10) # Суммируем комбинации во всем фрейме, получаем самые распространенные

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6),
 (('Paul Walker', 'Vin Diesel'), 5),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5)]

# Submission

In [32]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '3': '3. Winnie the Pooh',
 '4': '2. 110',
 '5': '3. 107',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [33]:
# и убедиться что ни чего не пропустил)
len(answers)

27